@import "../../global.scss";

.about {
  background-color: $mainColor;
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  &::-webkit-scrollbar {
    display: none;
  }

  .container {
    position: absolute;
    height: calc(100vh - 50px);
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    .title{
      display: flex;
      height: 10%;
      width: 75%;
      justify-content: center;
      align-items: center;

      h1{
        color: white;
        font-size: 45px;
      }
    }

    .top{
      display: flex;
      height: 30%;
      width: 60vw;
      justify-content: space-around;

      .left{
        display: flex;

        img{
          height: 250px;
            width: 200px;
            padding-right: 20px;
          @include phone {
            height: 200px;
            width: 150px;
          }
        }
      }

      .right{
        display: flex;
        flex-direction: column;

        h2{
          color: white;
        }

        label{
          font-size: 14px;
          color: black;

          @include tablet {
            font-size: 10px;
          }
        }

        p{
          font-size: 18px;

          @include tablet {
            font-size: 14px;
          }
        }
      }
    }

    .bottom{
      display: flex;
      height: 35%;
      width: 70%;
      justify-content: center;
      margin-top: 4%;
      font-size: 20px;

      @include tablet {
        font-size: 14px;
        margin-top: 3%;
      }

      @include phone {
        font-size: 12px;
        margin-top: 3%;
      }
    }
  }
}
